  <div class="container" id="about-page">
    <div class="about-content">
      <h1 class="main-title text-center">01</h1>
      <h2 class="sub-title text-center">About Me</h2>
      <p class="about-text">
        I am a Freelance <strong style="color:#E70E0E;">Digital Product Designer</strong>. Originally from Cape Town, South Africa, but currently exploring South East Asia living a nomadic life. I help startups and agencies develop and implement engaging and refreshing digital experiences. <br><br>

        As a Product designer, I help develop the <strong style="color:#E70E0E;">User Experience</strong> of a digital platform by building User Journeys, Plotting Customer Flows and testing experiences with Interactive Prototypes. I assist in taking projects from their early seed ideas all the way through the design process. Planning and tweaking each pixel to develop a <strong style="color:#E70E0E;">clean User Interface</strong> along with the <strong style="color:#E70E0E;">Motion and Interaction Design</strong> that accompanies it and brings the product to life. <br><br>

        We use digital products so often, so why not play our part in making our interactions with them a bit more positive. I have experience with working alongside brands such as 39DollarGlasses.com, Durex, GSK, SAA and Ipreo. <br><br>
        I am available for all digital product design jobs, big or small. Feel free to drop me a mail to chat potential business or even just to say hi and connect.
      </p>
    </div>
    <%= partial "layouts/bottom_section" %>
  </div>
