<div class="bottom">
  <div class="scroll-icon">
    <div class="arrow bounce">
      <div class="scroll-text">Next</div>
      <%= link_to "", "#about", class:"fas fa-chevron-down fa-2x" %>
    </div>
  </div>
</div>
