<div class="bottom">
  <div class="bottom-left">
    <p class="text-center">
      Not in the mood to browse this website ? 😥 <br>
      Go to the playground directly! 😉
    </p>

  </div>

  <div class="scroll-icon">
    <div class="arrow bounce">
      <div class="scroll-text">Next</div>
      <%= link_to "", "#about", class:"fas fa-chevron-down fa-2x" %>
    </div>
  </div>

  <div class="bottom-right">
    <div id="social-anim">
      <div class="cube">
        <div class="plus">
          <div class="plus-horizontal"></div>
          <div class="plus-vertical"></div>
        </div>
        <div class="quadrant">
          <div class="quadrant__item">
            <div class="quadrant__item__content">
              <a href="https://github.com/Xelaflash" class="arrow-up social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-github" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="quadrant__item">
            <div class="quadrant__item__content">
              <a href="https://www.linkedin.com/in/alexandre-gros-46406b27" class="arrow-right social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="quadrant__item">
            <div class="quadrant__item__content">
              <a href="https://twitter.com/GhostXela" class="arrow-left social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="quadrant__item">
            <div class="quadrant__item__content">
              <a href="https://dev.to/xelaflash" class="arrow-down social" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-dev" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
