<div class="bottom">
  <div class="scroll-icon">
    <div class="arrow bounce">
      <div class="scroll-text">Next</div>
      <%#= link_to "", "", class:"scroll-next fas fa-chevron-down fa-2x" %>
      <a class="scroll-next fas fa-chevron-down fa-2x"></a>
    </div>
  </div>
</div>

<!--
<div id="arrow">
    <a class="scroll-next">next</a>
</div>
 -->
