<div class="bottom">
  <div class="scroll-icon">
    <div class="arrow">
      <a class="scroll-next">
        <div class="scroll-text">Next</div>
        <i class=" fas fa-chevron-down fa-2x"></i>
      </a>
    </div>
  </div>
</div>
