<div class="container" id="contact-page">
  <h1 class="main-title text-center">03</h1>
  <h2 class="sub-title text-center">Let's Work Together</h2>
  <div class="contact-details">
    <div class="contact-address">
      <div class="flex-section-details">
        <div class="contact-med-1">
          <div class="flex-sub-section">
            <div class="phone-left">
              <i class="fas fa-phone" aria-hidden="true"></i>
            </div>
            <div class="phone-right">
              <h6>SKYPE</h6>
              <p>alex.gros.pro</p>
            </div>
          </div>
        </div>
        <div class="contact-med-2">
          <div class="flex-sub-section">
            <div class="globe-left">
              <i class="fas fa-globe-americas" aria-hidden="true"></i>
            </div>
            <div class="globe-right">
              <h6>WHERE AM I?</h6>
              <p>Currently living in the beautiful island of Barbados 🇧🇧</p>
            </div>
          </div>
        </div>
        <div class="contact-med-3">
          <div class="flex-sub-section">
            <div class="mail-left">
              <i class="far fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="mail-right">
              <h6>EMAIL</h6>
              <p><a class="main-text-contact" href="mailto:alex.gros.pro@gmail.com">alex.gros.pro@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="sep hidden-md hidden-lg">
    <div class="wrapper-form">
      <form id="contact-us" method="post" action="https://formspree.io/alex.gros.pro@gmail.com">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="text" name="name" id="name" required="required" class="form" placeholder="NAME" />
            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="EMAIL" />
            <input type="text" name="subject" id="subject" required="required" class="form" placeholder="SUBJECT" />
          </div>
          <div class="col-xs-12 col-md-6">
            <textarea name="message" id="message" class="form textarea"  placeholder="YOUR MESSAGE"></textarea>
          </div>
        </div>
        <button type="submit" class="form-btn">
            <span>SEND MESSAGE</span>
        </button>
      </form>
    </div>
  </div>
</div>
