<div class="container" id="contact-page">
  <div class="contact-content">
    <h1 class="main-title text-center">03</h1>
    <h2 class="sub-title text-center">Let's Work Together</h2>
    <div class="contact-details">
 <!--      <h3 class="text-center">CONTACT</h3> -->

      <div class="contact-address">

        <div class="flex-section">

          <div class="contact-med-1">
            <div class="flex-sub-section">
              <div class="phone-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="phone-right">
                <h6>SKYPE</h6>
                <p>alex.gros.pro</p>
              </div>
            </div>
          </div>

          <div class="contact-med-2">
            <div class="flex-sub-section">
              <div class="globe-left">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
              <div class="globe-right">
                <h6>WHERE AM I?</h6>
                <p>Currently living in the beatiful island of Barbados 🇧🇧</p>
              </div>
            </div>
          </div>

          <div class="contact-med-3">
            <div class="flex-sub-section">
              <div class="mail-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="mail-right">
                <h6>EMAIL</h6>
                <p><a class="main-text-contact" href="mailto:alex.gros.pro@gmail.com">alex.gros.pro@gmail.com</a></p>
              </div>
            </div>
          </div>

        </div>

      </div>



      <div class="contact-form">

      </div>

    </div>
  </div>
</div>
