<div class="container" id="contact-page">
  <h1 class="main-title text-center">03</h1>
  <h2 class="sub-title text-center">Let's Work Together</h2>
  <div class="contact-details">
    <div class="contact-address">
      <div class="flex-section">
        <div class="contact-med-1">
          <div class="flex-sub-section">
            <div class="phone-left">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="phone-right">
              <h6>SKYPE</h6>
              <p>alex.gros.pro</p>
            </div>
          </div>
        </div>
        <div class="contact-med-2">
          <div class="flex-sub-section">
            <div class="globe-left">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="globe-right">
              <h6>WHERE AM I?</h6>
              <p>Currently living in the beatiful island of Barbados 🇧🇧</p>
            </div>
          </div>
        </div>
        <div class="contact-med-3">
          <div class="flex-sub-section">
            <div class="mail-left">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="mail-right">
              <h6>EMAIL</h6>
              <p><a class="main-text-contact" href="mailto:alex.gros.pro@gmail.com">alex.gros.pro@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-contact">
      <div class="contact-form">
        <form id="contact-us" method="post" action="http://formspree.io/alex.gros.pro@gmail.com">
          <div class="col-xs-6">
            <input type="text" name="name" id="name" required="required" class="form" placeholder="NAME" />
            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="EMAIL" />
            <input type="text" name="subject" id="subject" required="required" class="form" placeholder="SUBJECT" />
          </div>
          <div class="col-xs-6">
            <textarea name="message" id="message" class="form textarea"  placeholder="YOUR MESSAGE"></textarea>
          </div>
          <div class="send-btn">
            <button type="submit" id="submit" name="submit" class="form-btn"><span>SEND MESSAGE</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
  document.querySelector('.form-btn').onmousemove = (e) => {
    const x = e.pageX - e.target.offsetLeft
    const y = e.pageY - e.target.offsetTop
    e.target.style.setProperty('--x', `${ x }px`)
    e.target.style.setProperty('--y', `${ y }px`)
  }
});
</script>
