<div class="container">
  <div class="footer">
    <div class="footer-content">
      <p id="footer-text">Made with <i class="fas fa-heart"></i> by </p>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1541163437/logo-3d-black.png", alt: "Alexandre Gros - Fullstack WebDev", class: "img-responsive", id: "footer-logo" %>
      <a class="mail" href="mailto:alex.gros.pro@gmail.com">alex.gros.pro@gmail.com</a>
    </div>
    <div class="legal text-center">
      <%= link_to "Privacy policy", "privacy.html"%>
      <%= link_to "Legal notice", "legal.html" %>
    </div>
  </div>
</div>
