<div class="container">
  <div class="footer">
    <div class="footer-content">
      <p id="footer-text">Made with <i class="fas fa-heart"></i> by </p>
      <a href="easter-star.html">
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543599668/3D.png", alt: "Alex G - Full-Stack Web Developer", class: "img-responsive", id: "footer-logo" %>
      </a>
      <a class="mail" href="mailto:alex.gros.pro@gmail.com">alex.gros.pro@gmail.com</a>
    </div>
    <div class="legal text-center">
      <%= link_to "Privacy policy", "privacy.html"%>
      <%= link_to "Legal notice", "legal.html" %>
      <button id="cookies-set" onclick="tarteaucitron.userInterface.openPanel();">Cookies settings</button>
    </div>
  </div>
</div>
