<div class="footer">
  <p id="footer-text">Made with <i class="fas fa-heart"></i> by </p>
  <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1541163437/logo-3d-black.png", alt: "Alexandre Gros - Fullstack WebDev", class: "img-responsive", id: "footer-logo" %>
  <a class="mail" href="mailto:alex.gros.pro@gmail.com">alex.gros.pro@gmail.com</a>
</div>
