<div class="container" id="home-page">
  <div class="square">
    <a href="/">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966638/white_letters_no_back.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
    </a>
    <a href="/">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966638/white_letters_no_back.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
    </a>
    <a href="/">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966638/white_letters_no_back.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
    </a>
    <a href="/">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966638/white_letters_no_back.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
    </a>
  </div>
  <div class="go-to-play-text">
    <p class="text-center">
      Not in the mood to browse this website ? 😥 <br>
      <a class="link-play" href="#playground">Go to the playground directly!</a> 😉
    </p>
  </div>
  <div class="social-link">
    <div class="cube">
      <div class="plus">
        <div class="plus-horizontal"></div>
        <div class="plus-vertical"></div>
      </div>
      <div class="quadrant">
        <div class="quadrant__item">
          <div class="quadrant__item__content">
            <a href="https://github.com/Xelaflash" class="arrow-up social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="quadrant__item">
          <div class="quadrant__item__content">
            <a href="https://www.linkedin.com/in/alexandre-gros-46406b27" class="arrow-right social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="quadrant__item">
          <div class="quadrant__item__content">
            <a href="https://twitter.com/GhostXela" class="arrow-left social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="quadrant__item">
          <div class="quadrant__item__content">
            <a href="https://dev.to/xelaflash" class="arrow-down social" target="_blank" rel="noopener noreferrer"><i class="fab fa-dev" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
