<div class="container" id="home-page">
  <div class="square">
    <figure class="letter-anim">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1542142559/A2.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
      <figcaption>
        <h3><span>A</span>bout <br>me</h3>
      </figcaption>
      <a href="#about"></a>
    </figure>
    <figure class="letter-anim">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1542142559/L2.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
      <figcaption>
        <h3><span>L</span>et's work together</h3>
      </figcaption>
      <a href="#contact"></a>
    </figure>
    <figure class="letter-anim">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1542142559/E2.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
      <figcaption>
        <h3><span>E</span>njoy the ride</h3>
      </figcaption>
      <a href="#projects"></a>
    </figure>
    <figure class="letter-anim">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1542142559/X2.png", alt: "Alexandre Gros - Fullstack WebDev", class:"home-nav img-responsive" %>
      <figcaption>
        <h3><span>X</span>mas treat</h3>
      </figcaption>
      <a href="#playground"></a>
    </figure>
  </div>
  <div class="market-text">
    <p id="marketing-text">Need a new website? As a <strong class="red-word">freelance fullstack  Web Developer</strong>, i can help you craft an <strong class="red-word">elegant</strong>, <strong class="red-word">fast</strong>, <strong class="red-word">intuitive</strong> and <strong class="red-word">responsive </strong>website.
    <br>
    I offer a full range of web development services (from back-end to front-end) adapted to your project needs and budget, covering all the projects life cycle, from <strong class="red-word">design mockups</strong> to <strong class="red-word">deployment</strong> and <strong class="red-word">SEO</strong>.</p>
  </div>
  <div class="social-links-mobile mobileShow text-center">
    <a href="https://twitter.com/GhostXela" class="social-mobile twitter" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/alexandre-gros-46406b27" class="social-mobile linkedin" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/Xelaflash" class="social-mobile github" target="_blank" rel="noopener noreferrer"><i class="fab fa-github" aria-hidden="true"></i></a>
    <a href="https://dev.to/xelaflash" class="social-mobile dev" target="_blank" rel="noopener noreferrer"><i class="fab fa-dev" aria-hidden="true"></i></a>
  </div>
</div>
<div class="social-link mobileHide">
  <div class="cube">
    <div class="plus">
      <div class="plus-horizontal"></div>
      <div class="plus-vertical"></div>
    </div>
    <div class="quadrant">
      <div class="quadrant__item">
        <div class="quadrant__item__content">
          <a href="https://github.com/Xelaflash" class="arrow-up social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="quadrant__item">
        <div class="quadrant__item__content">
          <a href="https://www.linkedin.com/in/alexandre-gros-46406b27" class="arrow-right social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin linkedin-cross" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="quadrant__item">
        <div class="quadrant__item__content">
          <a href="https://twitter.com/GhostXela" class="arrow-left social"  target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="quadrant__item">
        <div class="quadrant__item__content">
          <a href="https://dev.to/xelaflash" class="arrow-down social" target="_blank" rel="noopener noreferrer"><i class="fab fa-dev dev-cross" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


