/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.swal-icon--custom {
  margin:0;
}

#blue-pill {
  color: blue;
}

#red-pill {
  color:red;
}

.swal-button--cancel {
  color: white;
  background-color: blue;
}

.swal-button--cancel:not([disabled]):hover {
   background-color: blue;
   color: white;
   opacity: 0.6;
}
