.bottom {
  height:60px;
  text-align:center;
}

/* START scroll icon */
.scroll-icon {
  display: inline-block;
  cursor: pointer;
  color:white;
  a {
    text-decoration: none;
  }
}

.scroll-icon:hover {
  animation: bounce 2s infinite
}

.arrow, .fa-chevron-down, .scroll-next {
  color:white;
  text-align: center;
}

.arrow:hover, .fa-chevron-down:hover, .scroll-next:hover {
  animation: pulse 2s infinite;
}

.scroll-text {
  letter-spacing:2px;
  text-align: center;
  font-size: 14px;
  margin-bottom: -0.125rem;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-15px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(-15px); }
  100% { transform: scale(1,1)      translateY(0); }
}

@keyframes pulse {
  0% {
    color: white;
  }
  25% {
    color:$red;
  }
  50% {
    color: white;
  }
  75% {
    color:$red;
  }
  100% {
    color: white;
  }
}
/* END scroll icon */
