.footer {
  background: #003366;
  padding: 30px 0 10px 0;
  p , a {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.footer-content {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-left:67px;
}

#footer-text {
  margin-bottom:5px;
}

.fa-heart {
  color: $red;
}

#footer-logo {
  height:60px;
  margin:0 30px;
  transition: 0.6s;
  cursor: help;
}

#footer-logo:hover {
  transform: scale(1.1);
}

.mail {
  color:white;
  text-decoration: none;
  margin-bottom: 5px;
}

.mail:hover {
  text-decoration: underline;
  color:white;
}

.legal {
  color:white;
  padding-top:10px;
  margin-right:11px;
}

.legal a {
  color:white;
  font-size: 12px;
  font-style: italic;
  padding:10px;
}
