/* Main navbar */

.fixed-nav nav {
  // position: fixed;
  box-shadow:0 1px 1px rgba(255,255,255,0.9);
}

nav {
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}



.navbar-top {
  background: $blue;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0 0 15px #FFFFFF;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left:30px;
}

#logo-pic {
  width: 60px;
  height:60px;
  border-radius: 2px;
  transition: 0.7s;
}

#logo-pic:hover {
  // box-shadow: 8px 6px 22px rgba(255, 255, 255, 0.6), 0px 9px 13px rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
}

/* Basic navbar item */
.navbar-item {
  padding: 0 40px;
}

.navbar-item-xs {
  padding: 0;
}

/* Navbar link */
.navbar-link {
  color: white;
  font-size: 18px;
  font-family: $headers-font;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 5px;
}
.navbar-link:hover {
  color: white;
  text-decoration: none;
}
.navbar-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 5px;
    background: $red;
    transition: width .3s;
}

.navbar-link:hover::after {
    width: 100%;
}

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-family: $body-font;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.fa-bars {
  color: white;
  cursor: pointer;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
 {
   .navbar-top {
     padding: 0px 20px;

   }
   .logo {
     margin-left:0px;
   }
   #logo-pic {
     width: 50px;
     height:50px;
   }
}
