/* start stack logo list */
.stack {
  width: 40%;
  border: 1px solid white;
  margin: 25px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 4px 16px rgba(255, 255, 255, 0.6), 3px 4px 4px rgba(255, 255, 255, 0.6);
}

.stack-list {
  display: flex;
  align-items: center;
  cursor: no-drop;
  img {
    margin: 5px 5px;
    transition: 0.9s;
  }
  img:hover {
    transform: scale(1.1) rotate(360deg);
  }
}

#list-one {
  justify-content: space-between;
}

#list-two {
  margin-left: 60px;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  p {
    margin: 0 0 0 5px;
  }
}
/* end stack logo list */
