/* start stack logo list */

@media screen
  and (min-width: 750px) {
  .stack {
    width: 60%;
  }
}

@media screen
  and (min-width: 1200px) {
  .stack {
    width: 40%;
  }
}

@media (min-height: 850px) {
  .stack {
    margin: 55px auto;
  }
}

.stack {
  border: 1px solid white;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 4px 16px rgba(255, 255, 255, 0.6), 3px 4px 4px rgba(255, 255, 255, 0.6);
}

.stack-list {
  display: flex;
  align-items: center;

  cursor: no-drop;
  img {
    margin: 5px 5px;
    transition: 0.9s;
  }
  img:hover {
    transform: scale(1.1) rotate(360deg);
  }
}

#list-one {
  justify-content: space-between;
  margin-bottom:10px;
}

.stack-two-wrapper {
  text-align: center;
}

#list-two {
  display:inline-block;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  p {
    margin: 0 0 0 5px;
  }
}
/* end stack logo list */

@media only screen
  and (min-width: 320px)
  and (max-width: 812px) {
  .stack-list {
    flex-wrap:wrap;
  }

  #list-one {
    justify-content: space-around;
  }

  #list-two {
    font-size: 13px;
  }
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .stack {
    margin: 100px auto;
  }
}
