/* START terminal div */
.term {
  margin: 40px 0 0 40px;
  width: 430px;
  height: 200px;
  background-color: #141414;
  border-radius: 7.5px;
  overflow: hidden;

  p {
    color: #ffffff;
    margin-top: 40px;
    margin-left: 5px;
    font-weight: 100;
    font-family: sans-serif;
  }
}

.term-nav {
  position: absolute;
  height: 32.5px;
  width: 430px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #cccccc;
  text-align: center;

  p {
    color: #000000;
    display: inline-block;
    margin-left: -55px;
    margin-top: 5.5px;
    font-size: 14px;
  }
}

.circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 7.5px;
  margin-top: 7.5px;
  border-radius: 50%;
}

.first,
.second,
.third {
  float: left;
  b {
    font-size: 12.5px;
    font-family: sans-serif;
    display: none;
  }
}

.first {
  background-color: #ff5f57;
}

.second {
  background-color: #ffbd2e;
  margin-left: 5px;
}

.third {
  background-color: #28c940;
  margin-left: 5px;
}

.output {
  position: absolute;
  width: 380px;
  height: 25px;
  color: #ffffff;
  margin-left: 24px;
}
.typed-cursor {
  color:#fa0000;
}
/* END terminal div */
