html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  // IE 10+
}

html::-webkit-scrollbar {
    display: none;  // Safari and Chrome
    -webkit-display:none;
}

body {
  background: $blue;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a:focus {
  color:white;
}

h1, h2,h3,h6, p {
  color:white;
}

.main-title {
  color:$red;
  font-size: 38px;
}

.sub-title {
  font-size: 32px;
  margin: 0 0 20px 0;
}

.red-word {
  color: $red;
}

.scrollable-section {
  min-height:100vh;
  padding-top:70px;
}

#home-page, #about-page, #projects-page, #contact-page {
  min-height: calc(100vh - 125px);
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1) {
  #home-page, #projects-page, #contact-page {
  min-height: calc(100vh - 150px);
  }
}

@media (max-height: 750px) {
  .main-title {
    margin-top:10px;
  }
}

@media (min-height: 850px) {
  .main-title {
    margin-top:40px;
  }
}


