// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

html {
  scroll-behavior: smooth;
}

a:focus {
  color:white;
}

body {
  background: $blue;
}

h1, h2,h3,h6, p {
  color:white;
}

.main-title {
  color:$red;
  font-size: 38px;
  margin-top:40px;
}

.sub-title {
  font-size: 32px;
  margin: 0 0 20px 0;
}

.scrollable-section {
  position: relative;
  min-height:100vh;
  padding-top:70px;
}

::-webkit-scrollbar {
  display: none;
}
