#about{
  height: 100vh;
  background:green;
}

.about-content {
  border:1px solid green;
  max-width: 800px;
  margin:0 auto;
  text-align: justify;
  padding: 0 40px;
}

.about-text {
  margin-top: 100px;
}
