#contact-page {
  // height: calc(100vh - 70px);
    border: 1px solid red;

}

.contact-details {
  h6 {
    font-size: 18px;
    letter-spacing: 4px;
  }

  p {
    font-size: 16px;
    font-weight: lighter;
  }
}

.flex-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-med-1 {
  width: 300px;
}

.contact-med-2 {
  width: 300px;
}
.contact-med-3  {
  width: 300px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.phone-left, .globe-left, .mail-left {
  background:white;
  transform: rotate(45deg);
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.fa-phone, .fa-globe, .fa-envelope,  {
  color: $blue;
  transform: rotate(-45deg);
}

.fa-phone {
  font-size:24px;
  padding: 8px;
  margin-left: 3px;
}

.fa-globe {
  font-size:24px;
  padding: 8px;
  margin-left: 3px;
}

.fa-envelope {
  font-size:18px;
  padding: 11px;
}

.globe-right {
  padding-top: 20px;
}

/* START FORM */

.inner-contact {
  margin-bottom:40px;
}

.form{
  width: 100%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  letter-spacing:2px;
  font-size:13px;
  border-radius:2px;
}

.form:hover{
  border:1px solid #32CD32;
}

.form:focus{
  color: white;
  outline: none;
  border:1px solid #32CD32;
}

.textarea{
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}


.form-btn {
    position: relative;
    float:right;
    margin: -15px 15px 10px 0;
    appearance: none;
    background: $red;
    padding:15px 30px;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    transform-style: preserve-3d;
    transform: perspective(800px);
    span {
        position: relative;
        pointer-events: none;
        letter-spacing:2px;
    }
    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #4405f7, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }
    &:hover::before {
        --size: 400px;
    }
}

/* END FORM */

