#home {
  height:100vh;
  padding-top:70px;
}

.home-nav {
  width:200px;
  height:200px;
}

.square {
  border:1px solid red;
  width: 402px;
  display:flex;
  flex-wrap: wrap;
  margin: 100px auto 150px auto;
}



/* go to playground text */
// .go-to-play-text {
//   letter-spacing: 2px;
//   float:left;
//   margin: 45px 0 0 -100px;
//   p {
//     margin:0;
//     font-weight: lighter;
//     font-size: 12px;
//   }
// }
//
// .link-play {
//   color:white;
// }
// .link-play:hover {
//   color:white;
// }
/* END */
