#home {
  position: relative;
}
.square {
  display:flex;
  flex-wrap: wrap;
  margin: auto;
}

/* square anim START*/
.letter-anim {
  color: #ffffff;
  overflow: hidden;
  position: relative;
  text-align: left;
  transform: translateZ(0);
}

.letter-anim span {
  color: $red;
}

.letter-anim *,
.letter-anim *:before,
.letter-anim *:after {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.letter-anim img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.letter-anim img:hover, .letter-anim img:focus  {
  transform:  translateX(50%);
}

.letter-anim:before,
.letter-anim:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.45s ease;
  visibility: hidden;
  opacity: 0.5;
  background-color: $blue;
}

.letter-anim:before {
  transform: skew(30deg) translateX(-80%);
}

.letter-anim:after {
  transform: skew(-30deg) translateX(-70%);
}

.letter-anim figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 63px 40% 25px 11px;
}

.letter-anim figcaption:before,
.letter-anim figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  $blue;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.7;
  z-index: -1;
  visibility: hidden;
}

.letter-anim figcaption:before {
  transform: skew(30deg) translateX(-100%);
}

.letter-anim figcaption:after {
  transform: skew(-30deg) translateX(-90%);
}

.letter-anim h3 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
}

.letter-anim a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.letter-anim:hover h3{
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.2s;
}

.letter-anim:hover {
  transform: scale(1.2);
  box-shadow: 5px 4px 16px rgba(255, 255, 255, 0.6), 3px 4px 4px rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
.letter-anim:hover:before {
  transform: skew(30deg) translateX(-25%);
  transition-delay: 0.05s;
  visibility: visible;
}

.letter-anim:hover:after {
  transform: skew(-30deg) translateX(-10%);
  visibility: visible;
  transition-delay: 0.05s;
}

.letter-anim:hover figcaption:before {
  transform: skew(30deg) translateX(-35%);
  visibility: visible;
  transition-delay: 0.05s;
}

.letter-anim:hover figcaption:after {
  transform: skew(-30deg) translateX(-30%);
  transition-delay: 0.05s;
}

.square:hover > .letter-anim {
  filter: blur(6px);
  transition: all 0.5s ease;
}
.square:hover > .letter-anim:hover {
  filter:blur(0);
  transition: all 0.4s ease;
}
/* square anim end */

.market-text {
  max-width:700px;
  font-size: 18px;
  line-height: 1.6;
  margin: 50px auto 0 auto;
}

#marketing-text {
  margin-left:60px;
}

@media screen
  and (min-width: 750px) {
  .home-nav {
    width:200px;
    height:200px;
  }
  .square {
  width: 402px;
  }
  .letter-anim {
    width:200px;
    height:200px;
  }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 812px) {
  .square {
    margin: -20px auto 10px auto;
  }
  .home-nav {
    width:100px;
    height:100px;
  }
  .square {
    width: 200px;
  }
  .letter-anim {
    width:100px;
    height:100px;
  }
  .letter-anim h3 {
    font-size: 22px;
  }

  .letter-anim figcaption {
    padding: 30px 40% 25px 11px;
  }
  .market-text {
    margin: 50px auto 40px auto;
  }
  #marketing-text {
    margin-left:0;
    text-align: justify;
  }
}

@media (min-height: 725px) {
  .square {
    margin-top: 50px;
  }
}

@media (min-height: 850px) {
  .square {
    margin-top: 100px;
  }
}

.social-links-mobile {
  align-items:center;
  justify-content: space-between;
  width:300px;
  margin:0 auto 20px auto;
}

.social-mobile {
  text-decoration: none;
  border-radius: 6px;
  width: 50px;
  height:44px;
  text-align: center;
  cursor:pointer;
  color: white;
  font-size: 21px;
  i {
    padding-top: 13px;
  }
}

.social-mobile:active {
  transform: translate(0, 3px);
}

.social-mobile:hover {
  color: white;
  opacity: 0.8;
}

a.twitter{
  box-shadow: 0px 6px 0px #2770aa;
}
a.twitter{
  background: #38A1F3;
}

a.linkedin{
  box-shadow: 0px 6px 0px #00537e;
}
a.linkedin{
  background: #0077B5;
}

a.github{
  box-shadow: 0px 6px 0px #711a00;
}
a.github{
  background: #bd2c00;
}

a.dev{
  box-shadow: 0px 6px 0px #000000;
}
a.dev{
  background: #202020;
}

.mobileShow {
  display: none;
}
.mobileHide {
  display:block;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .mobileShow {
    display: flex;
  }
  .mobileHide {
    display:none;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .home-nav {
    width:200px;
    height:200px;
  }
  .square {
    width: 402px;
    margin-top: 50px;
  }
  .letter-anim {
    width:200px;
    height:200px;
  }
  .market-text {
    margin: 100px auto 50px auto;
  }
    .letter-anim h3 {
    font-size: 32px;
  }
  .letter-anim figcaption {
    padding: 75px 40% 25px 11px;
  }
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .square {
    margin-top: 150px;
  }
  .market-text {
    margin: 125px auto 100px auto;
  }
  #marketing-text {
    font-size:20px;
  }
}
