#playground {
  background:#003366;
}

#playground-page {
  min-height:calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

/* START PARALLAX BTN */
#parallax {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #FFFC0F,#E85301,#A000FF);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transform:
      translateY(var(--ty, 0))
      rotateX(var(--rx, 0))
      rotateY(var(--ry, 0))
      translateZ(var(--tz, -12px));
  }

  &:hover::before {
    box-shadow: 0 5px 15px rgba(255, 255, 255, .9);
  }

  &::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform .2s ease;
    font-weight: bold;
    letter-spacing: .01em;
    will-change: transform;
    transform:
      translateY(var(--ty, 0))
      rotateX(var(--rx, 0))
      rotateY(var(--ry, 0));
  }
}

.parallax-button {
  margin: -90px 0 20px 0;
  transform-style: preserve-3d;
  transform: perspective(800px);
}
/* END PARALLAX BTN */

.canvas {
  flex-grow: 1;
  position:relative;
  border: 1px solid $red;
  margin-bottom:5px;
}

#draw {
  background:white;
  height:100%;
  width:100%;
  position:absolute;
}

.back-to-top {
  display: block;
  height: auto;
  overflow: hidden;
}

.up {
  display:inline-block;
  height: auto;
  float:right;
  margin-right:25px;
}

.to-top{
  color:white;
  text-decoration: none;
}

.to-top:hover, .fa-angle-double-up:hover  {
  animation: pulse 2s infinite;
  text-decoration: none;
}



.button {
  position: relative;
  appearance: none;
  background: #f72359;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;

  span {
      position: relative;
      pointer-events: none;
  }

  &::before {
      --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #FFEB3B, transparent);
      transform: translate(-50%, -50%);
      transition: width .2s ease, height .2s ease;
  }
  &:hover::before {
      --size: 400px;
  }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 812px) {
  .parallax-button {
    margin: 10px auto !important;
  }

  .up {
    margin: 10px 5px 0 0 !important;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #draw {
  // min-height:calc(100vh - 70px);
  }
}
