#privacy-page {
  color:white;
  margin-bottom:20px;
  a {
    font-size:32px;
  }
  h1 {
    margin-bottom: 40px;
  }
  h2 {
    font-weight: bold;
    margin: 15px 0;
  }
}

.fr-link:hover {
  text-decoration: none;
}
