#projects-page {
  height: calc(100vh - 70px);
  border: 1px solid black;
}

.card-pic {
width:900px;
height: 600px;
margin: 0 auto;
background-size: cover;
background-position: center;
position: relative;
}
