#projects {
  background:#2E496A;
}

#projects-sub-title {
  margin-bottom: 0 !important;
}

.projects {
  overflow-x: scroll !important;
  width: 85%;
  margin: 0 auto;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: grab;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  perspective: 500px;
  box-shadow: 8px 6px 22px rgba(255, 255, 255, 0.6),
              3px 9px 13px rgba(255, 255, 255, 0.6);
}

.drag-text {
  font-style: italic;
  font-size: 15px;
  margin:0;
  color:$red;
}

/* START OVERLAY + DRAG ANIM */
.projects.active {
  background: rgba(255,255,255,0.3);;
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width:65%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 40px 30px 20px 0;
}

.content {
  position: relative;
}

.content-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2E496A;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 96%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  border: 2px solid white;
  padding:20px;
  h3 {
    font-size: 22px;
    margin-top: 0;
    white-space: pre-line;
  }
}

.content:hover .content-details{
    opacity: 1;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  white-space: pre-line;
}

.tools {
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 18px;
  color:$red;
  margin-top: 50px;
}


.url {
  font-style: italic;
  color:white;
  text-decoration: underline;
}

.url:hover {
  color:white;
  text-shadow: 2px 2px $red;
}

@media only screen
  and (min-width: 1000px)
  and (min-height: 701px) {
  .projects {
    width:82%;
  }
  .content:hover .content-details{
    width: 85%;
    height: 80%;
    top: 129%;
    left: 134%;
  }

  .content-details {
    transform: translate(-150%, -150%) !important;
  }

  .fadeIn-top-left{
    top: 20%;
    left: 20%;
  }
}

@media (max-height: 699px) {
  .item {
    margin: 60px 30px 50px 0;
  }

  .title-sep {
    margin: 15px 0;
  }

  .description {
    font-size:14px;
  }

  .tools {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .projects {
    width: 90%;
  }
  h3 {
    font-size: 18px;
  }
   .description {
    display:none;
  }
  .tools {
    margin-top:20px;
    font-size: 14px;
  }
  .title-sep {
    margin:5px;
  }
  .url {
    font-size: 14px;
  }
}
/* END OVERLAY + DRAG ANIM */


.disclaimer {
  font-style: italic;
  font-size: 13px;
  margin:15px 0 15px 0;
}
// @media only screen
//   and (min-width: 320px)
//   and (max-width: 812px) {
//   .projects {
//     width: 100%;
//     margin: 20px 0;
//   }
//   .item {
//     width: 100%;
//     margin: 60px 10px 60px 0;
//   }
//   .content-overlay {
//     height: 95%;
//     left: 10px;
//     top: 3px;
//   }

//   .content-details {
//     width: 95%;
//     h3 {
//       font-size: 22px;
//     }
//   }
//   .content:hover .content-details{
//     top: 167%;
//     left: 145%;
//   }

//   .title-sep {
//     margin: 15px 0;
//   }

//   .description {
//     font-size: 14px;
//     height: 80px;
//     padding: 10px;
//     margin-bottom: 10px;
//   }

//   .tools {
//     font-size: 16px;
//   }

//   .disclaimer {
//     font-size: 10px;
//     margin:10px 0 -15px 0;
//   }
// }
