<div id="error-page">
  <div class="overlay-error"></div>
  <div class="terminal-error">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output-error">The page you are looking for might have been removed, had its name changed or is temporarily unavailable</ü>
    <p class="output-error"> <a href="/#home">Go to Home page</a></p>
    <p class="output-error">May the force be with young padawan <i class="fab fa-jedi-order"></i></p>
  </div>
</div>
