---
title: Alex G - WebDev Portofolio
---

<div class="container" id="home">
  <div class="title">
    <h1 class="text-center">Alexandre Gros</h1>
    <hr id="title-sep">
    <h2 class="text-center">Fullstack Web Developer</h2>
  </div>


</div>
