<div class="container text-center col-xs-12" id="legal-page">
  <h1 class="main-title">Legal Notice / Mentions Légales</h1>
  <h3 class="sub-title">Editor/Editeur</h3>
  <p>Alexandre Gros<br>
    +1 (246) 236-4527 <br>
    alex.gros.pro@gmail.com <br>
    SIRET: 838 546 406 00011
  </p>
  <hr class="sep">
  <h3> Publication director/ Responsable de publication </h3>
  <p>
    Alexandre Gros <br>
    alex.gros.pro@gmail.com
  </p>
  <hr class="sep">
  <h3 class="sub-title">Hébergeur / Hosting</h3>
  <p>
    <small>Website hosted by / site internet hébergé par la société :</small>
    <br>
    GitHub Inc
    <br>
    548 4th Street <br>
    San Francisco, CA 94107 <br>
    United States
    <br><br>
    Phone / Téléphone : 1-415-448-6673
    <br>
    url : www.github.com
  </p>
</div>
