<div class="container" id="projects-page">
  <h1 class="main-title text-center">02</h1>
  <h2 class="sub-title text-center">My Work</h2>

  <div class="projects">
    <% data.projects.each do |owner, project| %>
      <div class="content">
        <%= image_tag project.picture, class: "project-pic img-responsive", alt: "Fullstack Webdev - projects - #{project.name}" %>
        <div class="content-overlay"></div>
        <div class="content-details fadeIn-top fadeIn-left">
            <h3 class=""><%= project.name %></h3>
            <hr class="title-sep">
            <p class="description"><%= project.description %></p>
            <br>
            <p class="tools"><%= project.stack %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
